#login_menu {
    width: 190px;
    height: 130px;
    border-radius: 10px;
    background-color: rgba(201, 199, 199, 0.281);
}

#login-form {
    margin-left: 5px;
    float: left;
    width: 185px;
    height: 50px;
}

#login_ttl {
    margin: 10px;
}

aside {
    width: 215px;
    height: 650px;
    float: left;
    margin-left: 10px;
}

#btns {
    list-style-type: none;
    height: 20px;
    width: 190px;
    font-size: 10px;
    margin-top: 60px;
    margin-left: 5px;
}

#sub_menu {
    margin: 5px;
    margin-top: 10px;
}

#banner_menu {
    border: 1px solid silver;
    width: 185px;
    border-radius: 10px;
}