footer {
    margin-top: 150px;
    border-top: 3px solid rgb(197, 191, 191);
    height: 100px;

    position:absolute;

    bottom:0;

    width: 1050px;
}



footer ul li {
    float: left;
}

.f_b_t_btn {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}