footer {
    margin-top: 100px;
    border-top: 3px solid rgb(197, 191, 191);
    height: 200px;
    width: 1050px;
}

ul li {
    float: left;
}

.f_b_t_btn {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}