/* 기본 설정 */
* {margin: 0; padding: 0;}
#header {
    height: 80px;
}

#header_wrap {
    margin: 10px;
    height: 80px;
}

#logo {
    margin-left: 15px;
    float: left;
}

#top_menu {
    list-style-type: none;
    float: right;
    margin-right: 80px;
    color: rgb(129, 124, 124);
    font-size: 12px;
}
#top_menu li {
    display: inline;
}

#main_menu {
    list-style-type: none;
    margin-left: 210px;
    margin-top: 10px;
    padding-top: 8px;
    width: 760px;
    height: 35px;
    background-image: url(/mp02/img/main_menu_bg.png);
    background-repeat: no-repeat;
}
#main_menu li {

    display: inline;
    color: white;
    font-size: 12px;
}

#menu1 {
    margin-left: 50px;
    margin-right: 30px;

}
#menu2 {
    margin-left: 60px;
    margin-right: 40px;
}
#menu3 {
    margin-left: 50px;
    margin-right: 50px;
}
#menu4 {
    margin-left: 30px;
    margin-right: 80px;
}

